body {
  font-family: Palatino;
  text-align: center;
  background-color: #f8dcb3;
  /*background-image: url("/images/6-rough-seamless-recycled-vintage-paper-texture-1.jpg");
	*/
}
#logo{
	width: 5%;
	height: auto;

}

#banner{
	display: flex;
	width: 30%;
}

#aboutus{
	align-content: space-around;
}


.flex-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
}
