<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="/css/style.css" rel="stylesheet">
	<link rel="icon" href="/images/cloche.ico" type="image/x-icon">
	<title>Buffet for chef</title>
</head>

<body>
	<div class="flex-container2">
		<h2 th:text="#{buffetslist.name}">lista buffet</h2>
		<div th:text="#{chefname.message}+' '+${chef.nome}">b</div>
		<div th:text="#{chefsurname.message}+' '+${chef.cognome}">b</div>

		<th:block th:each="buffet : ${chef.buffets}">
			<table>
				<div id="buffet-image2"><img src="/images/fork-plate-knife.svg" width="80%">
				</div>
				<tr>
					<div th:text="#{buffetname.message}+' '+${buffet.nome}">a</div>
				</tr>
				<tr>
					<div th:text="#{buffetcategory.message}+' '+${buffet.categoria}">c</div>
				</tr>
				<tr>
					<div th:text="#{buffetdescription.message}+' '+${buffet.descrizione}">c</div>
				</tr>
				<tr>
					<div><a class="link" th:href="@{'/dishesForBuffet' + '/' + ${buffet.id}}">Visita i piatti di questo
							buffet</a></div>
				</tr>
				<tr>_______________________________________________</tr>
			</table>
		</th:block>
		<footer>
			<div><a class="link" th:href="@{/chefs}" th:text="#{go.previous}">Torna alla</a></div>
			<div><a class="link" th:href="@{/index}" th:text="#{backhome.message}">Torna alla</a></div>
		</footer>
	</div>
</body>

</html>