<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="/css/style.css" rel="stylesheet">
	<link rel="icon" href="/images/cloche.ico" type="image/x-icon">
	<title>Chefs list</title>
</head>

<body>
	<div class="flex-container-chef">
		<h2 th:text="#{header.chefs}">lista chef</h2>
		<th:block th:each="chef : ${chefs}">
			<div id="avatar-image"><img
					th:src="@{${'https://avatars.dicebear.com/v2/croodles/:'+ chef.nome + chef.cognome +chef.nazionalita + '.svg'}}">
			</div>
			<table id="table-chefs">
				<tr>
					<div th:text="#{chefname.message}+' '+${chef.nome}">Paolo</div>
				</tr>
				<tr>
					<div th:text="#{chefsurname.message}+' '+${chef.cognome}">Rossi</div>
				</tr>
				<tr>
					<div th:text="#{chefnationality.message}+' '+${chef.nazionalita}">neozelandese</div>
				</tr>
				<tr>
					<div><a class="link" th:href="@{'chefBuffets' + '/' + ${chef.id}}">Visita i buffet di questo chef</a></div>
				</tr>
				<tr><div>_______________________________________________<div></tr>
			</table>
		</th:block>
		<footer>
		<div><a class="link" th:href="@{/explore}" th:text="#{go.previous}">Torna alla</a></div>
		<div><a class="link" th:href="@{/index}" th:text="#{backhome.message}">Torna alla</a></div>
		</footer>

	</div>

</body>