<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="/css/style.css" rel="stylesheet">
	<link rel="icon" href="/images/cloche.ico" type="image/x-icon">
	<title>Explore</title>
</head>

<body>
	<h1 th:text="#{explore}">Explore</h1>
	<ul class="list">
		<li>
			<a class="link" th:href="@{/chefs}" th:text="#{explore.chef}">Esplora la nostra scelta per chef</a>
		</li>
		<li>
			<a class="link" th:href="@{/buffets}" th:text="#{explore.buffet}">Esplora la nostra scelta per buffets</a>
		</li>
		<footer>
		<div><a class="link" th:href="@{/welcomePageUser}" th:text="#{go.previous}">Torna alla</a></div>
		<div><a class="link" th:href="@{/index}" th:text="#{backhome.message}">Torna alla</a></div>
		</footer>
</body>