<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/style.css" rel="stylesheet">
	<link rel="icon" href="/images/cloche.ico" type="image/x-icon">
	<title>Very Important Catering</title>
</head>

<body>
	<div class="flex-container">
		<div id="banner"><img src="/images/lots_of_food.jpeg" width="100%"></div>
		
		<div class="aroundau">
		<h1 id="mega-title">Very Important Catering</h1>
			<div id="title-au">

				<h2 th:text="#{ourservices.message}">I nostri sgsgfsgfsgfsgf</h2>
			</div>
			<ul class="list">
				<li>
					<div th:text="#{index.wedding}">Preparazioni su misura per matrimoni e battesimi</div>
				</li>
				<li>
					<div th:text="#{index.cakes}">Torte e dessert per ogni tipo di occasione</div>
				</li>
				<li>
					<div th:text="#{index.work}">Pranzi e cene di lavoro</div>
				</li>
			</ul>
		</div>
		<div class="about-us">

			<div id="aroundau">
				<div id="title-au">
					<h2 th:text="#{index.aboutus}">Perchè sceglierci</h2>
				</div>
				<div class="centerer">
					<p th:text="#{aboutus.message}">
						placeolder about us
					</p>
				</div>
			</div>
		</div>
		<div>
			<h2 th:text="#{header.reservedarea}">Reserved area</h2>
			<ul class="list">
				<li>
					<a class="link" th:href="@{/login}" th:text="#{index.login}">Acc</a>
				</li>
				<li>
					<a class="link" th:href="@{/register}" th:text="#{index.register}">Reg</a>
				</li>
			</ul>
		</div>
		<h2>Contacts</h2>
		<ul class="list">
			<li>
				<a class="link" href="mailto:info@veryimportantcatering.com">info@veryimportantcatering.com</a>
			</li>
			<li>
				<div>0039 0884 519618</div>
			</li>
			<li>
				<div>Via degli strozzapreti, 42, Manfredonia, Italia, 71043</div>
			</li>
			<li>
				<div>Partita IVA 87215130962 </div>
			</li>
		</ul>
	</div>

	<footer>
		<!--<aclass="link" th:href="@{/index}">Home</a>-->
	</footer>
</body>

</html>