<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="/css/style.css" rel="stylesheet">
	<link rel="icon" href="/images/cloche.ico" type="image/x-icon">
	<title>Ingredients for dish</title>
</head>

<body>
	<div class="flex-container-dishes">
		<h2 th:text="#{ingredientslist.name}">lista dei piatti</h2>

		<th:block th:each="ingrediente : ${piatto.ingredienti}">
			<table>
				<tr>
					<div th:text="#{ingredientname.message}+' '+${ingrediente.nome}">a</div>
				</tr>
				<tr>
					<div th:text="#{ingredientorigin.message}+' '+${ingrediente.origine}">a</div>
				</tr>
				<tr>
					<div th:text="#{ingredientdescription.message}+' '+${ingrediente.descrizione}">c</div>
				</tr>
				<tr>_______________________________________________</tr>
			</table>
		</th:block>
		<footer>
			<div><a class="link" th:href="@{/welcomePageUser}" th:text="#{go.welcomePage}">Torna alla</a></div>
			<div><a class="link" th:href="@{/index}" th:text="#{backhome.message}">Torna alla</a></div>
		</footer>
	</div>
</body>

</html>