<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/index.css" rel="stylesheet">
	<link rel="icon" href="/images/cloche.ico" type="image/x-icon">
</head>

<body>

	<div class="flex-container">
		<h4>Login</h4>
	</div>
	<form th:action="@{/login}" method="POST">
		<div>

			<input type="text" id="username" required class="input">
			<label for="username" class="input-label">Username</label>


			<div>
				<span>Password:</span>
				<span><input name="password" type="password" required /></span>
			</div>
			<div>
				<span><button type="submit">Login</button></span>
			</div>
		</div>
	</form>
	<div>
			<div><a class="link" th:href="@{/admin/login}" th:text="#{admin.areyou}">pippo</a></div>
	</div>
	</div>

</body>
<footer>
	<div><a class="link" th:href="@{/index}" th:text="#{error.backhome}">Torna alla</a></div>
</footer>

</html>