<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/style.css" rel="stylesheet">
	<link rel="icon" href="/images/cloche.ico" type="image/x-icon">
</head>

<body>

	<div class="flex-container2">
		<div>
			<h1>Login</h1>
			<form th:action="@{/login}" method="POST">
				<div>
					<div class="input">
						<span>Username:</span>
						<span><input name="username" type="text" placeholder="username" required /></span>
						
					</div>
					<div class="input">
						<span>Password:</span>
						<span><input name="password" type="password" placeholder="password" required /></span>
					</div>
					<div class="button">
						<button type="submit">Login</button>
					</div>
				</div>
			</form>
			
			<footer>
				<div><a class="link" th:href="@{/index}" th:text="#{backhome.message}">Torna alla</a></div>
			</footer>
		</div>
	</div>
</body>

</html>