<!DOCTYPE html>
<html>
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/index.css" rel="stylesheet">
	<link rel="icon" href="/images/cloche.ico" type="image/x-icon">
	<title>Catering</title>
<body>
	<div class="flex-container">
		<h1 th:text="#{header.index}">Qualcosa</h1>
	</div>
	<footer><a class="link" th:href="@{/index}" th:text="#{error.backhome}">Torna alla</a></footer></body>

</html>