<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="/css/users.css" rel="stylesheet">
	<link rel="icon" href="/images/cloche.ico" type="image/x-icon">
	<title>Users list</title>
</head>

<body>
	<div id="table-container">

		<h1 id="title">Lista degli utenti</h1>
		<table id="tabella">
			<thead>
				<th th:text="#{nome.message}">
					nome
				</th>
				<th th:text="#{cognome.message}">
					cognome
				</th>
				<th>
					id
				</th>
			</thead>
			<tbody>
				<tr th:each="user : ${users}">
					<td th:text="${user.nome}">mimmo</td>
					<td th:text="${user.cognome}">mimmo</td>
					<td th:text="${user.id}">mimmo</td>
				</tr>
			</tbody>
		</table>
		<footer id="title">
			<div><a class="link" th:href="@{/welcomePageAdmin}" th:text="#{go.previous}">Torna alla</a></div>
			<div><a class="link" th:href="@{/index}" th:text="#{backhome.message}">Torna alla</a></div>
		</footer>
	</div>
</body>