<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="/css/style.css" rel="stylesheet">
	<link rel="icon" href="/images/cloche.ico" type="image/x-icon">
	<title>Explore</title>
</head>

<body>
	<div class="flex-container-chef">
		<div>
			<h2 th:text="#{header.chefs}">lista chef</h2>
			<div><a class="link" th:href="@{/admin/explore}" th:text="#{go.previous}">Torna alla</a></div>
			<th:block th:each="chef : ${chefs}">
				<div id="avatar-image"><img
						th:src="@{${'https://avatars.dicebear.com/v2/croodles/:'+ chef.nome + chef.cognome +chef.nazionalita + '.svg'}}">
				</div>
				<table id="table-chefs">
					<div>
						<tr>
							<div th:text="#{chefname.message}+' '+${chef.nome}">Paolo</div>
						</tr>
						<tr>
							<div th:text="#{chefsurname.message}+' '+${chef.cognome}">Rossi</div>
						</tr>
						<tr>
							<div th:text="#{chefnationality.message}+' '+${chef.nazionalita}">neozelandese</div>
						</tr>
						<tr>
							<div>
								<a class="link" th:href="@{'/admin' + '/' +'removeChef' + '/' + ${chef.id}}" th:text="#{remove}">
									Rimuovi</a>
							</div>
						</tr>
						<tr>
							<div>
								<a class="link" th:href="@{'/admin' + '/' +'editChef' + '/' + ${chef.id}}" th:text="#{edit}"> Modifica</a>
							</div>
						</tr>
						<tr>
							<div>_______________________________________________</div>
						</tr>
					</div>
				</table>
			</th:block>
			<footer>
				<div><a class="link" th:href="@{/welcomePageAdmin}" th:text="#{go.previous}">Torna alla</a></div>
				<div><a class="link" th:href="@{/index}" th:text="#{backhome.message}">Torna alla</a></div>
			</footer>
		</div>
	</div>
</body>

</html>