<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<link href="/css/style.css" rel="stylesheet">
	<title>Confirm chef deletion</title>
</head>

<body>
	    <div class="flex-container2">
		    <h4>Confermi la rimozione dello chef:</h4>
		<ul class="list">
			<li><span th:text="#{chefname.message}+' '+${chef.nome}">Paolo</span></li>
			<li><span th:text="#{chefsurname.message}+' '+${chef.cognome}">Rossi</span></li>
			<li><span th:text="#{chefnationality.message}+' '+${chef.nazionalita}">neozelandese</span></li>   
		</ul>
		<a class="link" th:href="@{'/admin' + '/' + 'deleteChef' + '/' +${chef.id}}">Conferma</a>
		<a class="link" th:href="@{/admin/chefs}">Annulla</a>
		    <footer><a class="link" th:href="@{/index}" th:text="#{backhome.message}">Torna alla</a></footer>
	</div>
</body>

</html>