<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<link href="/css/index.css" rel="stylesheet">
	<link rel="icon" href="/images/cloche.ico" type="image/x-icon">
	<title>Insert ingrediente</title>
</head>

<body>
	<div class="flex-container2">

		<h4>Insert ingredient</h4>

		<form th:action="@{/admin/insertIngredient}" method="POST">
			<div>
				<span>Nome:</span>
				<span><input name="name" type="text" placeholder="name" th:field="${ingrediente.nome}" required /></span>
				<span th:if="${#fields.hasErrors('ingrediente.nome')}" th:errors="${credentials.username}"
					th:style="'color:red'"></span>
			</div>
			<div>
				<span>Origine:</span>
				<span><input name="origine" type="text" placeholder="origine" th:field="${ingrediente.origine}"
						required /></span>
				<span th:if="${#fields.hasErrors('ingrediente.origine')}" th:errors="${credentials.username}"
					th:style="'color:red'"></span>
			</div>
			<div>
				<span>Descrizione:</span>
				<span><input name="descrizione" type="text" placeholder="descrizione" th:field="${ingrediente.descrizione}"
						required /></span>
				<span th:if="${#fields.hasErrors('ingrediente.origine')}" th:errors="${credentials.username}"
					th:style="'color:red'"></span>
			</div>
			<div>
				<span><button type="submit" th:text="#{ingredient.insert.message}">Insert ingredient</button></span>
			</div>
		</form>
	</div>
	<footer><a class="link" th:href="@{/index}" th:text="#{error.backhome}">Torna alla</a></footer>
</body>