<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/index.css" rel="stylesheet">
	<link rel="icon" href="/images/cloche.ico" type="image/x-icon">
</head>

<body>
	<div class="flex-container">

		<h4>Insert buffet</h4>

		<form th:action="@{/admin/insertBuffet}" method="POST">
			<div>
				<span>Nome:</span>
				<span><input name="name" type="text" placeholder="name" th:field="${buffet.nome}" required /></span>
				<span th:if="${#fields.hasErrors('buffet.nome')}" th:errors="${buffet.username}"
					th:style="'color:red'"></span>
			</div>
			<div>
				<span>Descrizione:</span>
				<span><input name="descrizione" type="text" placeholder="description" th:field="${buffet.descrizione}"
						required /></span>
				<span th:if="${#fields.hasErrors('buffet.descrizione')}" th:errors="${credentials.username}"
					th:style="'color:red'"></span>
			</div>
			<div>
				<span>Categoria:</span>
				<span><input name="categoria" type="text" placeholder="categoria" th:field="${buffet.categoria}"
						required /></span>
				<span th:if="${#fields.hasErrors('buffet.categoria')}" th:errors="${credentials.username}"
					th:style="'color:red'"></span>
			</div>
			<div>
				<span><button type="submit">Insert chef</button></span>
			</div>
		</form>
	</div>
	<footer><a class="link" th:href="@{/index}" th:text="#{error.backhome}">Torna alla</a></footer>
</body>

</html>