<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/style.css" rel="stylesheet">
	<link rel="icon" href="/images/cloche.ico" type="image/x-icon">
</head>

<body>
	<div class="flex-container2">

		<h2 th:text="#{insertchef}">Insert chef</h2>

		<form th:action="@{/admin/insertChef}" method="POST">
			<div class="input">
				<span>Nome:</span>
				<span><input name="name" type="text" placeholder="name" th:field="${chef.nome}" required /></span>
				<span th:if="${#fields.hasErrors('chef.nome')}" th:errors="${credentials.username}"
					th:style="'color:red'"></span>
			</div>
			<div class="input">
				<span>Cognome:</span>
				<span><input name="cognome" type="text" placeholder="cognome" th:field="${chef.cognome}"
						required /></span>
				<span th:if="${#fields.hasErrors('chef.cognome')}" th:errors="${credentials.username}"
					th:style="'color:red'"></span>
			</div>
			<div class="input">
				<span>Nazionalita':</span>
				<span><input name="nazionalita" type="text" placeholder="nazionalita" th:field="${chef.nazionalita}"
						required /></span>
				<span th:if="${#fields.hasErrors('chef.nazionalita')}" th:errors="${credentials.username}"
					th:style="'color:red'"></span>
			</div>
			<div class="button">
				<span><button type="submit">Insert chef</button></span>
			</div>
		</form>
		<footer>
			<div><a class="link" th:href="@{/welcomePageAdmin}" th:text="#{go.previous}">Torna alla</a></div>
			<div><a class="link" th:href="@{/index}" th:text="#{backhome.message}">Torna alla</a></div>
		</footer>
	</div>

</body>

</html>